# BIKE PRICE PREDICTION

PROBLEM STATEMENT:

PREDICT THE SELLING PRICE OF A BIKE BASED ON COMPANY, MODEL, MANUFATURED YEAR, ENGINE WARRANTY.ENGINE TYPE, FUEL TYPE,CC (CUBIC CAPACITY), FUEL CAPACITY & PRICE

# IMPORT LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# DATA LOADING

In [2]:
df = pd.read_excel("Bike_Price_Prediction.xlsx")

# DATA UNDERSTANDING

In [3]:
df.head()

,S.no,Bike_company,Bike_model,Manufactured_year,Engine_warranty,Engine_type,Fuel_type,CC(Cubic capacity),Fuel_Capacity,Price
0,1,Bajaj,Avenger 220,2020,5.0,Single,Petrol,220CC,10 Litres,113000
1,2,TVS,Apache RTR,2020,5.0,V-twin,Petrol,120CC,11 Litres,70000
2,3,Hero,Passion,2020,5.0,Boxer,Petrol,140CC,12 Litres,85000
3,4,Honda,Activa 3G,2020,5.0,Single,Petrol,150CC,13 Litres,90000
4,5,Suzuki,Access,2020,5.0,V-twin,Petrol,350CC,14 Litres,65000

In [4]:
df.tail()

,S.no,Bike_company,Bike_model,Manufactured_year,Engine_warranty,Engine_type,Fuel_type,CC(Cubic capacity),Fuel_Capacity,Price
303,304,Bgauss,Bgauss B8,2017,3.0,Boxer,Petrol,185CC,19 Litres,81916
304,305,Bgauss,Bgauss Radiator,2017,3.0,Boxer,Petrol,205CC,20 Litres,82666
305,306,Bgauss,Bgauss Razor,2017,3.0,Boxer,Petrol,185CC,21 Litres,83416
306,307,Bgauss,Bgauss Flash,2017,3.0,Boxer,Petrol,205CC,22 Litres,84166
307,308,Bgauss,Bgauss Hash,2017,3.0,Boxer,Petrol,220CC,23 Litres,84916

In [5]:
df.shape

(308, 10)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   S.no                308 non-null    int64
 1   Bike_company        308 non-null    object
 2   Bike_model          308 non-null    object
 3   Manufactured_year   308 non-null    int64
 4   Engine_warranty     306 non-null    float64
 5   Engine_type         308 non-null    object
 6   Fuel_type           308 non-null    object
 7   CC(Cubic capacity)  308 non-null    object
 8   Fuel_Capacity       307 non-null    object
 9   Price               308 non-null    int64
dtypes: float64(1), int64(3), object(6)
memory usage: 24.2+ KB

In [7]:
df.describe()

             S.no  Manufactured_year  Engine_warranty         Price
count  308.000000         308.000000       306.000000  3.080000e+02
mean   154.496753        2010.847403         6.032680  2.548416e+05
std     89.059088         104.747343         3.719542  2.950174e+05
min      1.000000         202.000000         2.000000  5.000000e+04
25%     77.750000        2017.000000         4.000000  7.500000e+04
50%    154.500000        2019.000000         5.000000  1.045000e+05
75%    231.250000        2020.000000         8.000000  3.412500e+05
max    308.000000        2050.000000        50.000000  1.779990e+06

In [8]:
df.isnull().sum()

S.no                  0
Bike_company          0
Bike_model            0
Manufactured_year     0
Engine_warranty       2
Engine_type           0
Fuel_type             0
CC(Cubic capacity)    0
Fuel_Capacity         1
Price                 0
dtype: int64

# DATA PREPROCESSING

REMOVING UNWANTED COLUMNS

In [9]:
df.drop(columns=["S.no", "Unnamed: 0"], inplace=True, errors="ignore")

REMOVING ALL NULL VALUES

In [10]:
df = df.dropna()

In [11]:
df.isnull().sum()

Bike_company          0
Bike_model            0
Manufactured_year     0
Engine_warranty       0
Engine_type           0
Fuel_type             0
CC(Cubic capacity)    0
Fuel_Capacity         0
Price                 0
dtype: int64

# FEATURE ENGINEERING

In [12]:
from sklearn.preprocessing import LabelEncoder

df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

le = LabelEncoder()
for col in df.select_dtypes(include='object').columns:
    df[col] = le.fit_transform(df[col])

# FEATURE SELECTION

In [13]:
target_column = "Price"   # change if your target name is different

X = df.drop(columns=[target_column])
y = df[target_column]

# FEATURE SCALING

In [14]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_scaled = scaler.fit_transform(X)

In [15]:
df.describe()

,Bike_company,Bike_model,Manufactured_year,Engine_warranty,Engine_type,Fuel_type,CC(Cubic capacity),Fuel_Capacity,Price
count,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,3.020000e+02
mean,12.529801,114.364238,2010.748344,6.033113,2.552980,0.837748,30.089404,11.745033,2.566961e+05
std,7.163314,65.453591,105.783124,3.734400,1.992221,0.369293,17.412008,6.902108,2.973241e+05
min,0.000000,0.000000,202.000000,2.000000,0.000000,0.000000,0.000000,0.000000,5.000000e+04
25%,7.000000,61.250000,2017.000000,4.000000,0.000000,1.000000,16.000000,7.000000,7.462500e+04
50%,12.000000,111.000000,2019.000000,5.000000,3.000000,1.000000,28.000000,10.000000,1.075000e+05
75%,19.000000,170.750000,2020.000000,8.000000,5.000000,1.000000,41.000000,15.000000,3.487500e+05
max,24.000000,234.000000,2050.000000,50.000000,5.000000,1.000000,72.000000,26.000000,1.779990e+06

# TRAIN AND TEST SPLIT

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# MODEL SELECTION

In [17]:
# Linear Regression
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

from sklearn.metrics import r2_score

LR_Accuracy = round(r2_score(y_test, model.predict(X_test)) * 100)
LR_Accuracy

43

In [18]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=2)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)
from sklearn.linear_model import LinearRegression
poly_model = LinearRegression()
poly_model.fit(X_train_poly, y_train)
from sklearn.metrics import r2_score
PR_Accuracy=round(r2_score(y_test, poly_model.predict(X_test_poly)) * 100)
PR_Accuracy

-1372770

In [19]:
#  decission tree regression
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(X_train, y_train)
from sklearn.metrics import r2_score
DTR_Accuracy=round(r2_score(y_test, model.predict(X_test)) * 100)
DTR_Accuracy

46

In [20]:
# support vector regression
from sklearn.svm import SVR
model = SVR()
model.fit(X_train, y_train)
from sklearn.metrics import r2_score
SVR_Accuracy=round(r2_score(y_test, model.predict(X_test)) * 100)
SVR_Accuracy

-31

In [21]:
# random forese regressor with estimate
from sklearn.ensemble import RandomForestRegressor
RF_model = RandomForestRegressor(n_estimators=10)
RF_model.fit(X_train, y_train)
from sklearn.metrics import r2_score
RFR_Accuracy=round(r2_score(y_test, RF_model.predict(X_test)) * 100)
RFR_Accuracy

55

BEST MODEL SELECTION

In [22]:
accuracies = { 
    "Linear": LR_Accuracy,
    "Polynomial": PR_Accuracy,
    "Decision Tree": DTR_Accuracy,
    "Random Forest": RFR_Accuracy,
    "SVR": SVR_Accuracy
}


accuracies

{'Linear': 43,
 'Polynomial': -1372770,
 'Decision Tree': 46,
 'Random Forest': 55,
 'SVR': -31}

In [23]:
best_model_name = max(accuracies, key=accuracies.get)
print("Best Model:", best_model_name)

Best Model: Random Forest

# MODEL PREDICTION

In [24]:
import warnings
warnings.filterwarnings('ignore')



new_bike = pd.DataFrame([{
    "Company": "Honda",
    "Model": "Shine",
    "Manufactured_Year": 2021,
    "Engine_Warranty": 3,
    "Engine_Type": "BS6",
    "Fuel_Type": "Petrol",
    "CC": 125,
    "Fuel_Capacity": 10
}])
# Convert categorical variables to dummy/one-hot encoding
new_bike = pd.get_dummies(new_bike)

# Reindex to match training features (X.columns)
# Fill missing columns with 0
new_bike = new_bike.reindex(columns=X.columns, fill_value=0)

# Scale features
new_bike_scaled = scaler.transform(new_bike)

# Predict price
predicted_price = RF_model.predict(new_bike_scaled)
print("Predicted Price:", predicted_price[0])

Predicted Price: 214670.0

# MODEL SAVING

In [25]:
import pickle

# Save Random Forest model
pickle.dump(RF_model, open('RF_model.pkl', 'wb'))

# Save scaler
pickle.dump(scaler, open('scaler.pkl', 'wb'))

print("Random Forest model and scaler have been saved successfully!")

Random Forest model and scaler have been saved successfully!